*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family:  "Roboto", sans-serif;
    background-color: #eff5f8;
    color: #001b44;
}

label, p {
    font-size: 30px;
}

h1 {
    text-align: center;
}

input {

    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
}

ul {

    list-style-type: none;
    color: #FFFFE0;
    padding: 0px;
}

li {

    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color:  #001b44;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;

}

li button {
    float: right;
    font-size: 1em;
    height: 40px;
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
}

.card {
    display: block;
    background-color: #FFFFE0;
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin : 60px auto;
    width: 80vw;
    padding: 20px;

}